<div class="container my-4 py-4 my-md-5 py-md-5 px-3" style="max-width: 800px;">

    <h1 class="mb-4">Job applications</h1>

    <div class="table-responsive">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Contact</th>
                <th scope="col">Resume</th>
              </tr>
            </thead>
            <tbody>
            
                <% for(var i = 0; i < applications.length; i++) { %>
    
                    <tr>
                        <th scope="row"><%= i+1 %></th>
                        <td><%= applications[i].name %></td>
                        <td><%= applications[i].email %></td>
                        <td><%= applications[i].contact %></td>
                        <td>
                            <a target="_blank" href="/<%= applications[i].resumeUrl%>" class="btn btn-primary"><i class="bi bi-file-earmark-text"></i> View</a>
                        </td>
                  </tr>
    
                <% } %>
            
            </tbody>
        </table>
    </div>
    <a href="#" class="btn btn-outline-secondary back-btn mt-4" onclick="window.history.back()">
        <i class="bi bi-arrow-left"></i> Back to job details
    </a>
</div>